/* Setting the structure for the entire page */
* {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

/* Setting the color for the entire page */
body {
        background-color: #d9dcd6;
    }

/* Hero Style Start*/
.hero {
        height: 800px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url("../images/digital-marketing-meeting.jpg");
        background-size: cover;
        background-position: center;
    }

/* apply styles to <header> */
header {
        padding: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #2a607c;
        color: #ffffff;
    }

header h1 {
        display: inline-block;
        font-size: 48px;
    }

header h1 .seo {
        color: #d9dcd6;
    }

header nav {
        padding-top: 15px;
        margin-right: 20px;
        float: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }

header nav ul {
        list-style-type: none;
    }

header nav ul li {
        display: inline-block;
        margin-left: 25px;
    }

header a {
        color: #ffffff;
        text-decoration: none;
    }
/* styles to <header> end */

/*styles to <content> start*/
.option p {
    font-size: 16px;
}

.text-left {
    text-align: left;
  }
  
.text-right {
    text-align: right;
  }

.options {
        width: 75%;
        display: inline-block;
        margin-left: 20px;
    }

.option {
        margin-bottom: 20px;
        padding: 50px;
        height: 300px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #0072bb;
        color: #ffffff;
    }

.option img {
        max-height: 200px;
        float: left;
        width: 30%
    }

.option h2 {
        margin-bottom: 20px;
        font-size: 36px;
    }
/*styles to <content> end*/

/* styles to <benefits> start */
.benefits {
        margin-right: 20px;
        padding: 20px;
        clear: both;
        float: right;
        width: 20%;
        height: 80%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #2589bd;
    }

.list-benefits {
        margin-bottom: 100px;
        color: #ffffff;
    }

.list-benefits h3 {
        margin-bottom: 10px;
        text-align: center;
    }

.list-benefits img {
        display: block;
        margin: 10px auto;
        max-width: 150px;
    }
/* styles to <benefits> end */ 

/* styles to <footer> start*/
footer {
        padding: 10px;
        clear: both;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }

footer h2 {
        font-size: 20px;
    }
/* styles to <footer> end*/